@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    background: #8A51FC;
    height: 100%;


}

header {
    overflow-x: hidden;
    max-width: 100vw;
    
 

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex-direction: column;
    margin-top: 40px;


}

form {
    background: #F4F4F4;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.3s ease;
    padding: 14px 23px 13px 23px;

}

label {
    display: block;
    margin-bottom: 3px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #777777;

}

select,
input {
    display: block;
    width: 280px;
    max-width: 100%;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    appearance: none;
    margin-bottom: 15px;

}

input,
select {
    height: auto;
    color: #272626;
    padding: 8px 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

input::placeholder {
    color: rgba(85, 85, 85, 0.5);
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

button {
    background: #090118;
    border-radius: 15px;
    width: 100%;
    max-width: 327px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 36px;
}

.box {
    margin: 0 0 5px 0;
    background: url(logo.png);
    text-align: center;

}

.box-hand {

    max-height: 190px;
    width: 100%;
    margin: 0 0;
}

button:hover {
    background-color: #732bd1;
}

.box-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    gap: 3px;
    background: #F4F4F4;
    border-radius: 16px;
    border: 1px solid #772FD3;

}

figure,
figcaption {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #777777;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

p {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #555555;
    margin-bottom: 2px;

}


.arrow {
    width: 44px;
    height: auto;
    margin: 4px 0 0;
}

.arrow-2 {
    width: 22px;
    height: auto;
    margin: 5px 0 4px;
}

input:focus,
select:focus,
button:focus {
    outline: 2px solid #732bd1;
    outline-offset: 2px;
}